
.cards {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  gap: 53px;
}

.case-studies {
  display: flex;
  gap: 41px;
  padding: 0px 80px;
}

.blog {
  flex: 1;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
