.banner {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.banner-content {
  background-size: auto;
  background-position: center bottom -235px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.banner-section {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 80px;
    box-sizing: border-box;
    padding-bottom: 80px;
    color: #ffffff;
}